name: publish prerelease npm package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: |
          npm version $(npm info | grep next | sed 's/^.*: //') --no-git-tag-version --allow-same-version
      - run: npm version prerelease --no-git-tag-version --allow-same-version --preid beta
      - run: npm publish --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
